<div class="container">
  <form class="navbar-form pull-right">
    <label for="search">Any: </label>
    <div class="form-group" style="display:inline;">
     <div class="input-group"> 
        <input type="text" data-ng-model="search.$" class="form-control" placeholder="What are you searching for?">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
     </div>
    </div>
    <label for="search">Creator only: </label>
    <div class="form-group" style="display:inline;">
      <div class="input-group"> 
        <input type="text" data-ng-model="search.creator_ref.username" class="form-control" placeholder="Which creator are you searching for?">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
      </div>
    </div>
    <label for="search">Tag only: </label>
    <div class="form-group" style="display:inline;">
      <div class="input-group"> 
        <input type="text" data-ng-model="search.tags.name" class="form-control" placeholder="What tag are you searching for?">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
      </div>
    </div>
  </form>
  <br />
  <br />
  <br />
  <div class="row">
  <div class="alert alert-success" data-ng-show="$root.justLoggedIn && $root.isLoggedIn">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <p><strong>Congrats!</strong> You successfully logged in.</p>
    </div>
  </div> 
  <div class="row">
    <div class="alert alert-danger" data-ng-if="$root.error">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <p><strong>Something's wrong!</strong> The request couldn't be processed at this time.</p>
    </div>
  </div>
  <div class="row">
  <div class="alert alert-success" data-ng-if="$root.success">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <p><strong>Congrats!</strong> The request was successfully processed.</p>
    </div>
  </div>
<!--    <div flash-alert="success" active-class="in" class="alert fade">
    <strong class="alert-heading">Congrats!</strong>
    <span class="alert-message">{{flash.get()}}</span> 
</div> -->
  <table class="table pull-left">
    <thead>
      <tr>
        <th colspan="4">Listing of all the must-see places in the world</th>
      </tr>
      <tr>
        <th>Information</th>
        <th>
          <a data-ng-show="$root.isLoggedIn" data-ng-href="places/new">
            <span class="glyphicon glyphicon-plus-sign"></span> Add
          </a>
        </th>
        <th>No</th>
        <th>Creator's name</th>
        <th>Place</th>
        <th>Tag</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="place in places | filter: search">
        <td>
          <a data-ng-href="place/{{place.id}}">
            <span class="glyphicon glyphicon-info-sign"></span> About
          </a>
        </td>
        <td>
          <a data-ng-show="$root.isLoggedIn && $root.creator === place.creator_ref.creatorid" data-ng-href="place/{{place.id}}/edit">
            <span class="glyphicon glyphicon-pencil"></span> Edit
          </a>
        </td>
        <td>{{ $index + 1 }}</td>
        <td>{{ place.creator_ref.username }}</td>
        <td>{{ place.name }}</td>
        <td data-ng-repeat="tag in place.tags">{{ tag.name }}{{$last ? '' : ','}}</td>
      </tr>
    </tbody>
  </table>
</div>