<div class="container">
  <form class="navbar-form pull-right">
        <div class="form-group" style="display:inline;">
          <div class="input-group"> 
            <input type="text" data-ng-model="search" class="form-control" placeholder="What are you searching for?">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
          </div>
        </div>
      </form>
  <table class="table pull-left">
    <thead>
      <tr>
        <th colspan="4">Listing of all the must-see places in the world</th>
      </tr>
      <tr>
        <th>No</th>
        <th>Creator's name</th>
        <th>Place</th>
        <th>Description</th>
        <th>
          <a data-ng-href="places/new">
            <span class="glyphicon glyphicon-plus-sign"></span> Add
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="place in places | filter:search">
        <td>{{ $index + 1 }}</td>
        <td>{{ place.creator_ref.username }}</td>
        <td>{{ place.name }}</td>
        <td>{{ place.text }}</td>
        <td>
          <a data-ng-href="place/{{place.id}}">
            <span class="glyphicon glyphicon-info-sign"></span> About
          </a>
        </td>
        <td>
          <a data-ng-href="place/{{place.id}}/edit">
            <span class="glyphicon glyphicon-pencil"></span> Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>