<div class="container">
  <nav class="navbar navbar-default" role="navigation" id="topmenu">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" data-toggle="collapse" data-target="#one">Places</a>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="collapse" data-target="#two">Creators</a>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="collapse" data-target="#three">Tags</a>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="collapse" data-target="#four">Account Settings</a>
      </li>
    </ul>
  </nav>
</div>
<div class="container">
  <nav class="navbar navbar-default" role="navigation" id="submenu">
    <ul class="nav navbar-nav collapse" id="one">
      <li><a href="#" id="">All places</a></li>
      <li><a href="#" id="">Places nearby</a></li>
    </ul>
    <ul class="nav navbar-nav collapse" id="two">
      <li><a href="#" id="">All creators</a></li>
    </ul>
     <ul class="nav navbar-nav collapse" id="three">
      <li><a href="#" id="">All tags</a></li>
    </ul>
    <ul class="nav navbar-nav collapse" id="four">
      <li><a href="#" id="">Login</a></li>
      <li><a href="#" id="">Register</a></li>
    </ul>
  </nav>
</div>