/* <-------Main settings---------->*/
body, html { 
  height: 100%; 
  margin: 0;
}
/* <-------Menu settings---------->*/
.icon-bar {
	background-color:#fff;
}

.navbar-custom1 .navbar-nav > li > a:hover,
.navbar-custom1 .navbar-nav > li > a:focus,
.navbar-custom1 .navbar-nav > li.active > a {
  background-color: lightgreen !important;
}

/*-- change navbar dropdown color --*/
.navbar-custom1 .navbar-nav .open .dropdown-menu>li>a,.navbar-custom1 .navbar-nav .open .dropdown-menu {
  background-color: lightgreen;
  color:#fff;
}

/* <-------Map settings---------->*/
.google-map {
  width: 500px;
  height: 500px; 
}

